.boton-negativo a {
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #6C4494;
}

.boton-negativo a:hover {
  color: #e8e1ed;
  background-color: transparent;
  border: 1px solid #e8e1ed;
}

.boton-slide .wp-block-button a {
  border-radius: 25px !important;
}

.uagb-post__inner-wrap .wp-block-button .wp-block-button__link:hover {
  border: 1px #6C4494;
  border-style: solid !important;
}

.boton-negativo-book .latepoint-book-button {
  color: #fff;
  background-color: #6C4494;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
  margin-right: 2%;
}

.boton-negativo-book .latepoint-book-button:hover {
  color: #6C4494;
  background-color: transparent;
  border: 1px solid #6C4494;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}
.boton-negativo .latepoint-book-button{
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.boton-negativo .latepoint-book-button:hover {
  color: #e8e1ed;
  background-color: transparent;
  border: 1px solid #e8e1ed;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.boton-negativo-book a {
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #e8e1ed;
  border-radius: 25px;
  transition: background-color 0.6s, border 0.6s;
}

.boton-negativo-book a:hover {
  background-color: transparent;
  border: 1px solid #6C4494;
  transition: background-color 0.6s, border 0.6s;
}
.boton-negativo-treatments a {
  color: #6C4494;
  background-color: transparent;
  border: 1px solid #6c4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s;
}

.boton-negativo-treatments a:hover {
  background-color:#6c4494;
  color:white;
  transition: background-color 0.6s, color 0.6s;
}
.img-marco {
  border: 1px solid #6C4494;
}
.img-marco img {
  margin-left: 2.5%;
  margin-top: -3%;
  margin-bottom: 3%;
}

.hot-tip {
  font-style: italic;
  color: #6C4494;
}

.bloque-banner {
  margin-bottom: 5% !important;
}

.bloque-gallery, .bloque-products {
  background-color: #F0F0F0;
  padding-top: 4%;
  padding-bottom: 3%;
}

.bloque-categoria-banner h1, .bloque-categoria-banner p {
  color: #fff !important;
}

.bloque-pag-servicio {
  margin-top: 3%;
}

.hr-servicios {
  border-top: 1px solid #6C4494 !important;
}

.bloque-about-banner {
  margin-bottom: 0 !important;
}
.bloque-about-banner h1, .bloque-about-banner p {
  color: #fff !important;
}

.bloque-philosophy {
  background-color: #F0F0F0;
  padding-top: 4%;
  padding-bottom: 3%;
}
.menu .menu-item a{
  font-size:1em;
}
.boton-header, .boton-banner a, .boton-radius a{
  border-radius:25px;
}
.boton-negativo-banner .latepoint-book-button{
  color: #fff;
  background-color: #6C4494;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
  font-size:1.4em;
}
.boton-negativo-banner .latepoint-book-button:hover{
  background-color: transparent;
  border: 1px solid white;
  transition: background-color 0.6s, border 0.6s;
}
.titulo-banner{
  color:white;
  text-align:center;
  font-size:2em;
  margin-bottom:2% !important;
}
.boton-treatments a{
  font-size:1.3em;
  margin-bottom:2%;
}
.bloque-treatments{
  margin-bottom:0 !important;
}
.sub-title{
  color:var(--paletteColor1);
  font-weight:300;
  font-size:1.2em;
}
.ct-container-full{
  padding-bottom:0% !important;
}
.logo-footer{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}
.type-post .wp-block-columns{
  margin-top:3%;
  margin-bottom:4%;
}
.list-footer .uagb-icon-list__wrap .wp-block-uagb-icon-list-child, .horarios-footer{
  color: white;
  font-size:1em;
}
.list-footer .uagb-icon-list__wrap .wp-block-uagb-icon-list-child .uagb-icon-list__source-wrap svg{
  fill: white;
  width: 1.5em;
  height: auto;
}
.ct-social-box{
  justify-content:center;
}
.ct-social-box .ct-icon-container svg{
  width:2.5rem !important;
  height:auto !important;
  fill:white !important;
}
.ct-header-account .ct-icon{
  width:2.5rem !important;
  height:auto !important;
}
.ct-socials-widget .widget-title{
  display:none;
}
.descripcion-td-packages{
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}
.valor-servicio{
  font-size: 0.9em;
  color: #6c4494;
  font-weight: 600;
}
.form-dudas{
  margin-top:5%;
  margin-bottom:5% !important;
}
.about-texto{
  padding-left:2%;
}
.bloque-because{
  margin-top:3%;
}
.titulo-treatments{
  margin-top:5% !important;
}
.img-treatments{
  margin-bottom:0 !important;
}
.img-treatments img{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  aspect-ratio:21/9;
}
.parrafo-treatments{
  padding-left:4%;
  padding-right:4%;
}
.button-treatments{
  margin-bottom:5% !important;
}
.bloque-interno-treatments{
  border-radius: 5px;
  margin-bottom: 4% !important;
}
.bloque-reserva{
  border-radius:5px;
  box-shadow:5px 5px 15px #ddd;
  padding-top: 2%;
  padding-bottom: 2%;
}
.bloque-contenido-servicio p{
  text-align:justify;
  padding-right:3%;
}
.boton-reserva-servicio .latepoint-book-button{
  color: #fff;
  background-color: #6C4494;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
  font-size:1.3em;
}
.boton-reserva-servicio .latepoint-book-button:hover{
  background-color: transparent;
  border: 1px solid #6c4494;
  color: #6c4494;
  transition: background-color 0.6s, border 0.6s, color 0.6s;
}
.boton-negativo-header .latepoint-book-button{
  color: #fff;
  background-color: #6C4494;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s;
}
.boton-negativo-header .latepoint-book-button:hover{
  color: #6c4494;
  background-color: transparent;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s;
}
.boton-welcome{
  margin-top:7%;
}
.boton-cooming-soon .wp-block-button__link{
  cursor:not-allowed;
}
.bloque-logos{
  margin-top:3%;
  margin-bottom:3% !important;
}
.form-newsletter .wpforms-form .wpforms-field-container .wpforms-field-label{
  color:white;
}
.form-newsletter .wpforms-form .wpforms-field-container input[type=text],
.form-newsletter .wpforms-form .wpforms-field-container input[type=email]{
  max-width:100%;
  border-radius:25px;
  background-color:#FAFBFC;
}
.form-newsletter .wpforms-form .wpforms-field-container input[type=text]:focus,
.form-newsletter .wpforms-form .wpforms-field-container input[type=email]:focus{
  border: 1px solid #AC87BD;
  box-shadow: 0 0 0 1px #AC87BD,0px 1px 2px rgba(0,0,0,0.15);
}
.form-newsletter .wpforms-form .wpforms-submit-container, .contact-form .wpforms-form .wpforms-submit-container{
  text-align: center;
}
.form-newsletter .wpforms-form .wpforms-submit-container .wpforms-submit{
  background-color:white;
  color:#6C4494;
  border:1px solid #6C4494;
  border-radius:25px;
}
.form-newsletter .wpforms-form .wpforms-submit-container .wpforms-submit:hover{
  background-color:#6C4494;
  color:white;
  border:1px solid white;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field-label{
  color:#6C4494;
}
.contact-form .wpforms-form .wpforms-field-container input[type=text],
.contact-form .wpforms-form .wpforms-field-container input[type=email]{
  border-radius:25px;
  background-color:white;
  border:1px solid #ccc;
}
.contact-form .wpforms-form .wpforms-field-container textarea{
  border-radius:5px;
  background-color:white;
  border:1px solid #ccc;
}
.contact-form .wpforms-form .wpforms-field-container input[type=text]:focus,
.contact-form .wpforms-form .wpforms-field-container input[type=email]:focus,
.contact-form .wpforms-form .wpforms-field-container textarea:focus{
  border: 1px solid #AC87BD;
  box-shadow: 0 0 0 1px #AC87BD,0px 1px 2px rgba(0,0,0,0.15);
}
.contact-form .wpforms-form .wpforms-submit-container .wpforms-submit{
  color:white;
  border:1px solid #6C4494;
  border-radius:25px;
}
.contact-form .wpforms-form .wpforms-submit-container .wpforms-submit:hover{
  background:white;
  color:#6C4494;
}
.latepoint-questions img{
  width:60%;
  margin-bottom:10%;
}
.bloque-video .wp-block-nk-awb .nk-awb-wrap{
  margin-bottom:0%;
}
/*# sourceMappingURL=style.css.map */
