.boton-negativo a {
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #6C4494;
}

.boton-negativo a:hover {
  color: #e8e1ed;
  background-color: transparent;
  border: 1px solid #e8e1ed;
}

.boton-slide .wp-block-button a {
  border-radius: 25px !important;
}

.uagb-post__inner-wrap .wp-block-button .wp-block-button__link:hover {
  border: 1px #6C4494;
  border-style: solid !important;
}

.boton-negativo-book .latepoint-book-button {
  color: #fff;
  background-color: #6C4494;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
  margin-right: 2%;
}

.boton-negativo-book .latepoint-book-button:hover {
  color: #6C4494;
  background-color: transparent;
  border: 1px solid #6C4494;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}
.boton-negativo .latepoint-book-button{
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.boton-negativo .latepoint-book-button:hover {
  color: #e8e1ed;
  background-color: transparent;
  border: 1px solid #e8e1ed;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.boton-negativo-book a {
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #e8e1ed;
  border-radius: 25px;
  transition: background-color 0.6s, border 0.6s;
}

.boton-negativo-book a:hover {
  background-color: transparent;
  border: 1px solid #6C4494;
  transition: background-color 0.6s, border 0.6s;
}
.boton-negativo-treatments a {
  color: #6C4494;
  background-color: transparent;
  border: 1px solid #6c4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s;
}

.boton-negativo-treatments a:hover {
  background-color:#6c4494;
  color:white;
  transition: background-color 0.6s, color 0.6s;
}
.img-marco {
  border: 1px solid #6C4494;
}
.img-marco img {
  margin-left: 2.5%;
  margin-top: -3%;
  margin-bottom: 3%;
}
.bloque-video{
	aspect-ratio:21/9;
}
.bloque-video .wp-block-nk-awb .nk-awb-wrap{
	aspect-ratio:21/9;
}
.hot-tip {
  color: #6C4494;
}
.descripcion-servicio{
  text-align:justify;
}

.bloque-banner {
  margin-bottom: 5% !important;
}
.bloque-banner .wp-block-nk-awb img{
  filter:brightness(0.7);
}
.bloque-gallery, .bloque-products {
  background-color: #F0F0F0;
  padding-top: 4%;
  padding-bottom: 3%;
}

.bloque-categoria-banner h1, .bloque-categoria-banner p {
  color: #fff !important;
}

.bloque-pag-servicio {
  margin-top: 3%;
}

.hr-servicios {
  border-top: 1px solid rgb(108 68 148 / 20%) !important;
  background-color: transparent;
  width: 70% !important;
}

.bloque-about-banner {
  margin-bottom: 0 !important;
}
.bloque-about-banner h1, .bloque-about-banner p {
  color: #fff !important;
}

.bloque-philosophy {
  background-color: #F0F0F0;
  padding-top: 4%;
  padding-bottom: 3%;
}
.menu .menu-item a{
  font-size:1em;
}
.boton-header, .boton-banner a, .boton-radius a{
  border-radius:25px;
}
.boton-negativo-banner .latepoint-book-button, .boton-negativo-offcanvas .latepoint-book-button{
  color: #6c4494;
  background-color:#e8e1ed;
  border: 1px solid #e8e1ed;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
  font-size:1.4em;
}
.boton-negativo-banner .latepoint-book-button:hover, .boton-negativo-offcanvas .latepoint-book-button:hover{
  background-color: white;
  border: 1px solid white;
  transition: background-color 0.6s, border 0.6s;
}
.boton-negativo-offcanvas{
	justify-content:center;
}
.titulo-banner{
  color:white;
  text-align:center;
  font-size:2em;
  margin-bottom:2% !important;
}
.boton-treatments a{
  font-size:1.3em;
  margin-bottom:2%;
}
.bloque-treatments{
  margin-bottom:0 !important;
}
.sub-title{
  color:var(--paletteColor1);
  font-weight:300;
  font-size:1.2em;
}
.ct-container-full{
  padding-bottom:0% !important;
}
.logo-footer{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}
.type-post .wp-block-columns{
  margin-top:3%;
  margin-bottom:4%;
}
.list-footer .uagb-icon-list__wrap .wp-block-uagb-icon-list-child, .horarios-footer{
  color: white;
  font-size:1em;
}
.list-footer .uagb-icon-list__wrap .wp-block-uagb-icon-list-child .uagb-icon-list__source-wrap svg{
  fill: white;
  width: 1.5em;
  height: auto;
}
.ct-social-box{
  justify-content:center;
}
.ct-social-box .ct-icon-container svg{
  width:2.5rem !important;
  height:auto !important;
  fill:white !important;
}
.ct-header-account .ct-icon{
  width:2.5rem !important;
  height:auto !important;
}
.ct-socials-widget .widget-title{
  display:none;
}
.descripcion-td-packages{
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}
.img-td-packages{
  width:50%;
}
.valor-servicio{
  font-size: 0.9em;
  color: #6c4494;
  font-weight: 600;
}
.form-dudas{
  margin-top:5%;
  margin-bottom:5% !important;
}
.about-texto{
  padding-left:2%;
}
.bloque-because{
  margin-top:3%;
}
.titulo-treatments{
  margin-top:5% !important;
}
.img-treatments{
  margin-bottom:0 !important;
}
.img-treatments img{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  aspect-ratio:21/9;
}
.parrafo-treatments{
  padding-left:4%;
  padding-right:4%;
}
.button-treatments{
  margin-bottom:5% !important;
}
.bloque-interno-treatments{
  border-radius: 5px;
  margin-bottom: 4% !important;
}
.carousel-advice .slick-arrow{
	background-color:rgb(191 191 191 / 50%) !important;
	border-radius:25px;
}
.bloque-reserva{
  border-radius:5px;
  box-shadow:5px 5px 15px #ddd;
  padding-top: 2%;
  padding-bottom: 2%;
}
.bloque-contenido-servicio p{
  text-align:justify;
  padding-right:3%;
}
.boton-reserva-servicio .latepoint-book-button{
  color: #fff;
  background-color: #6C4494;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
  font-size:1.3em;
}
.boton-reserva-servicio .latepoint-book-button:hover{
  background-color: transparent;
  border: 1px solid #6c4494;
  color: #6c4494;
  transition: background-color 0.6s, border 0.6s, color 0.6s;
}
.boton-negativo-header .latepoint-book-button{
  color: #fff;
  background-color: #6C4494;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s;
}
.boton-negativo-header .latepoint-book-button:hover{
  color: #6c4494;
  background-color: transparent;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s;
}
.boton-welcome{
  margin-top:7%;
}
.boton-cooming-soon .wp-block-button__link{
  cursor:not-allowed;
}
.bloque-logos{
  margin-top:3%;
  margin-bottom:3% !important;
}
.form-newsletter .wpforms-form .wpforms-field-container .wpforms-field-label{
  color:white;
}
.form-newsletter .wpforms-form .wpforms-field-container input[type=text],
.form-newsletter .wpforms-form .wpforms-field-container input[type=email]{
  max-width:100%;
  border-radius:25px;
  background-color:#FAFBFC;
}
.form-newsletter .wpforms-form .wpforms-field-container input[type=text]:focus,
.form-newsletter .wpforms-form .wpforms-field-container input[type=email]:focus{
  border: 1px solid #AC87BD;
  box-shadow: 0 0 0 1px #AC87BD,0px 1px 2px rgba(0,0,0,0.15);
}
.form-newsletter .wpforms-form .wpforms-submit-container, .contact-form .wpforms-form .wpforms-submit-container{
  text-align: center;
}
.form-newsletter .wpforms-form .wpforms-submit-container .wpforms-submit{
  background-color:white;
  color:#6C4494;
  border:1px solid #6C4494;
  border-radius:25px;
}
.form-newsletter .wpforms-form .wpforms-submit-container .wpforms-submit:hover{
  background-color:#6C4494;
  color:white;
  border:1px solid white;
}
.contact-form .wpforms-form .wpforms-field-container .wpforms-field-label{
  color:#6C4494;
}
.contact-form .wpforms-form .wpforms-field-container input[type=text],
.contact-form .wpforms-form .wpforms-field-container input[type=email]{
  border-radius:25px;
  background-color:white;
  border:1px solid #ccc;
}
.contact-form .wpforms-form .wpforms-field-container textarea{
  border-radius:5px;
  background-color:white;
  border:1px solid #ccc;
}
.contact-form .wpforms-form .wpforms-field-container input[type=text]:focus,
.contact-form .wpforms-form .wpforms-field-container input[type=email]:focus,
.contact-form .wpforms-form .wpforms-field-container textarea:focus{
  border: 1px solid #AC87BD;
  box-shadow: 0 0 0 1px #AC87BD,0px 1px 2px rgba(0,0,0,0.15);
}
.contact-form .wpforms-form .wpforms-submit-container .wpforms-submit{
  color:white;
  border:1px solid #6C4494;
  border-radius:25px;
}
.contact-form .wpforms-form .wpforms-submit-container .wpforms-submit:hover{
  background:white;
  color:#6C4494;
}
.latepoint-questions img{
  width:60%;
  margin-bottom:10%;
}
.bloque-video .wp-block-nk-awb .nk-awb-wrap{
  margin-bottom:0%;
}
.menu-total-body .wp-block-cover, .menu-total-face .wp-block-cover, .menu-wellness-treatments .wp-block-cover, .menu-td-packages .wp-block-cover{
  transition:filter 0.4s;
}
.menu-total-body .wp-block-cover:hover, .menu-total-face .wp-block-cover:hover, .menu-wellness-treatments .wp-block-cover:hover, .menu-td-packages .wp-block-cover:hover{
  filter:brightness(1.6);
  transition:filter 0.4s;
}
.img-doc{
  width:80%;
}
.p-treatment{
  margin-bottom:0%;
}
.precio-treatment{
  font-size:1em;
  font-weight:700;
}
#offcanvas{
	z-index:99998;
}
/*	LOGIN AND REGISTER	*/

.customer-dashboard-tabs a.active{
	color:var(--theme-palette-color-1);
}
.customer-dashboard-tabs a:after{
	background-color:var(--theme-palette-color-1);
}
.latepoint-message.latepoint-message-info{
	background:var(--theme-palette-color-5);
}
.latepoint-w .os-form-group.os-form-select-group input[type=email], .latepoint-w .os-form-group.os-form-select-group input[type=number], .latepoint-w .os-form-group.os-form-select-group input[type=password], .latepoint-w .os-form-group.os-form-select-group input[type=tel], .latepoint-w .os-form-group.os-form-select-group input[type=text], .latepoint-w .os-form-group.os-form-select-group textarea, .latepoint-w .os-form-group.os-form-textfield-group input[type=email], .latepoint-w .os-form-group.os-form-textfield-group input[type=number], .latepoint-w .os-form-group.os-form-textfield-group input[type=password], .latepoint-w .os-form-group.os-form-textfield-group input[type=tel], .latepoint-w .os-form-group.os-form-textfield-group input[type=text], .latepoint-w .os-form-group.os-form-textfield-group textarea{
	border-radius:5px !important;
}
.latepoint-btn{
	background-color:var(--theme-palette-color-1);
	border-radius:25px !important;
	border:1px solid transparent;
}
.latepoint-btn:hover{
	background-color:var(--theme-palette-color-5);
	color:var(--theme-palette-color-1) !important;
	border:1px solid var(--theme-palette-color-1);
}
.user-registration{
	margin-bottom:3% !important;
}
.ur-frontend-form{
	border:none;
	background-color:white;
}
.ur-frontend-form .ur-form-row .ur-form-grid .__PrivateStripeElement, .ur-frontend-form .ur-form-row .ur-form-grid input[type=date], .ur-frontend-form .ur-form-row .ur-form-grid input[type=email], .ur-frontend-form .ur-form-row .ur-form-grid input[type=number], .ur-frontend-form .ur-form-row .ur-form-grid input[type=password], .ur-frontend-form .ur-form-row .ur-form-grid input[type=phone], .ur-frontend-form .ur-form-row .ur-form-grid input[type=text], .ur-frontend-form .ur-form-row .ur-form-grid input[type=timepicker], .ur-frontend-form .ur-form-row .ur-form-grid input[type=url], .ur-frontend-form .ur-form-row .ur-form-grid select, .ur-frontend-form .ur-form-row .ur-form-grid textarea{
	border-radius:25px;
	background-color:var(--theme-palette-color-6);
}
.ur-submit-button{
	border:1px solid transparent !important;
}
.ur-submit-button:hover{
	border:1px solid var(--theme-palette-color-1) !important;
}
/*	RESPONSIVE	*/
@media only screen and (max-width: 768px){
	.logo-footer{
		width:50%;
	}
	.horarios-footer{
		text-align:center;
	}
	.img-td-packages{
		width:100%;
	}
	h1{
		text-align:center;
	}
	.bloque-philosophy .wp-block-buttons, .bloque-productos .wp-block-buttons, .bloque-advice .wp-block-buttons{
		justify-content:center;
	}
	.bloque-productos .wp-block-buttons{
		margin-bottom:5% !important;
	}
	.social-footer .wp-block-heading{
		display:none;
	}
	.ct-footer .ct-container div[data-column="widget-area-3"] .ct-widget{
		margin-top:0%;
	}
	.boton-advice-down{
		margin-top:5% !important;
		margin-bottom:5% !important;
	}
}
@media only screen and (max-width: 430px){
	.bloque-video-responsive{
		aspect-ratio:5/7;
	}
	.bloque-video-responsive .wp-block-nk-awb .nk-awb-wrap{
		aspect-ratio:5/7;
	}
	.latepoint-tab-triggers a{
		font-size:1em;
	}
}
@media only screen and (max-width: 375px){
	.latepoint-tab-triggers a{
		font-size:0.8em;
	}
}
@media only screen and (max-width: 350px){
	.latepoint-tab-triggers a{
		font-size:0.7em;
	}
}

/*# sourceMappingURL=style.css.map */
