.boton-negativo a {
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #6C4494;
}

.boton-negativo a:hover {
  color: #e8e1ed;
  background-color: transparent;
  border: 1px solid #e8e1ed;
}

.boton-slide .wp-block-button a {
  border-radius: 25px !important;
}

.uagb-post__inner-wrap .wp-block-button .wp-block-button__link:hover {
  border: 1px #6C4494;
  border-style: solid !important;
}

.boton-negativo-book .latepoint-book-button {
  color: #fff;
  background-color: #6C4494;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
  margin-right: 2%;
}

.boton-negativo-book .latepoint-book-button:hover {
  color: #6C4494;
  background-color: transparent;
  border: 1px solid #6C4494;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}
.boton-negativo .latepoint-book-button{
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #6C4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.boton-negativo .latepoint-book-button:hover {
  color: #e8e1ed;
  background-color: transparent;
  border: 1px solid #e8e1ed;
  transition: background-color 0.6s, color 0.6s, border 0.6s;
}

.boton-negativo-book a {
  color: #6C4494;
  background-color: #e8e1ed;
  border: 1px solid #e8e1ed;
  border-radius: 25px;
  transition: background-color 0.6s, border 0.6s;
}

.boton-negativo-book a:hover {
  background-color: transparent;
  border: 1px solid #6C4494;
  transition: background-color 0.6s, border 0.6s;
}
.boton-negativo-treatments a {
  color: #6C4494;
  background-color: transparent;
  border: 1px solid #6c4494;
  border-radius: 25px;
  transition: background-color 0.6s, color 0.6s;
}

.boton-negativo-treatments a:hover {
  background-color:#6c4494;
  color:white;
  transition: background-color 0.6s, color 0.6s;
}
.img-marco {
  border: 1px solid #6C4494;
}
.img-marco img {
  margin-left: 2.5%;
  margin-top: -3%;
  margin-bottom: 3%;
}

.hot-tip {
  font-style: italic;
  color: #6C4494;
}

.bloque-banner {
  margin-bottom: 5% !important;
}

.bloque-gallery, .bloque-products {
  background-color: #F0F0F0;
  padding-top: 4%;
  padding-bottom: 3%;
}

.bloque-categoria-banner h1, .bloque-categoria-banner p {
  color: #fff !important;
}

.bloque-pag-servicio {
  margin-top: 3%;
}

.hr-servicios {
  border-top: 1px solid #6C4494 !important;
}

.bloque-about-banner {
  margin-bottom: 0 !important;
}
.bloque-about-banner h1, .bloque-about-banner p {
  color: #fff !important;
}

.bloque-philosophy {
  background-color: #F0F0F0;
  padding-top: 4%;
  padding-bottom: 3%;
}
.menu .menu-item a{
  font-size:1em;
}
.boton-header, .boton-banner a, .boton-radius a{
  border-radius:25px;
}
.boton-banner a{
  font-size:1.3em;
  padding-top:5%;
  padding-bottom:5%;
}
.titulo-banner{
  color:white;
  text-align:center;
  font-size:2em;
  margin-bottom:2% !important;
}
.boton-treatments a{
  font-size:1.3em;
  margin-bottom:2%;
}
.bloque-treatments{
  margin-bottom:0 !important;
}
.sub-title{
  color:var(--paletteColor1);
  font-weight:300;
  font-size:1.2em;
}
.ct-container-full{
  padding-bottom:0% !important;
}
.logo-footer{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}
.type-post .wp-block-columns{
  margin-top:3%;
  margin-bottom:4%;
}
.list-footer .uagb-icon-list__wrap .wp-block-uagb-icon-list-child, .horarios-footer{
  color: white;
  font-size:1em;
}
.list-footer .uagb-icon-list__wrap .wp-block-uagb-icon-list-child .uagb-icon-list__source-wrap svg{
  fill: white;
  width: 1.5em;
  height: auto;
}
.ct-social-box{
  justify-content:center;
}
.ct-social-box .ct-icon-container svg{
  width:2.5rem !important;
  height:auto !important;
  fill:white !important;
}
.ct-header-account .ct-icon{
  width:2.5rem !important;
  height:auto !important;
}
.ct-socials-widget .widget-title{
  display:none;
}
.descripcion-td-packages{
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}
.valor-servicio{
  font-size: 0.9em;
  color: #6c4494;
  font-weight: 600;
}
.form-dudas{
  margin-top:5%;
  margin-bottom:5% !important;
}
.about-texto{
  padding-left:2%;
}
.bloque-because{
  margin-top:3%;
}
.titulo-treatments{
  margin-top:5% !important;
}
.img-treatments{
  margin-bottom:0 !important;
}
.img-treatments img{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.parrafo-treatments{
  padding-left:2%;
  padding-right:2%;
}
.button-treatments{
  margin-bottom:5% !important;
}
.bloque-interno-treatments{
  border-radius: 5px;
  margin-bottom: 4% !important;
}
/*# sourceMappingURL=style.css.map */
